<h4 class="article-title">
	{{#with_current_user}}
		<span class="upvote">&#9650;</span>
	{{/with_current_user}}

	{{link url title}}
</h4>
<small>
	{{pluralize points "points" "point"}}
	by someone {{moment created_at}} |
	{{link "{{article_url id}}" "Comments"}}
</small>