<a class="global-header-link" href="/">&#8962; Haxxor News</a>

{{#if token}}
<a class="global-header-link" href="{{account_edit_url}}">Welcome, {{username}}</a>
<a class="global-header-link" href="{{logout_url}}">Logout</a>
{{else}}
<a class="global-header-link" href="{{login_url}}">Login</a>
{{/if}}