<a class="global-header-link" href="/">&#8962; Back<b><i>bode</i></b> News</a>

{{#if token}}
	<a class="global-header-link" href="{{account_edit_url}}">Welcome, {{username}}!</a>
	<a class="global-header-link" href="{{logout_url}}">Logout</a>
{{else}}
	<a class="global-header-link" href="{{login_url}}">Login</a>
	<a class="global-header-link" href="{{registration_url}}">Register</a>
{{/if}}